@use '../styles/variables' as v;
@use '../styles/section';





#library-choice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3vh;

    ul {
        display: flex;
        gap: 3vw;
    }
}

.library-title{
    font-family: "Inter";
    
}