@use '../../styles/variables' as v;

.cover-book-img {
    border-radius: 5px;
}

.books-list .books-list-li #book-img .icon-read-toread {
    background-color: v.$secondary-color;
    width: 20%;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.2rem;
}

#read-notRead {
    position: absolute;
    bottom: -5px;
    right: -5px;
    & img { 
        box-shadow: none;
    }
}