@use '../../styles/variables' as v;
@use '../../styles/section';


.privacy-section {
  padding: 0rem;
  line-height: 1.6;
  background-color: v.$base-color;
  overflow-x: auto;
  
  &-title {
    font-size: 2.8rem;
    margin-top: 4rem;
  }
  
  &-container {
    width: 90%;
    background-color: v.$primary-color;
    margin: auto;
    border-radius: 8px;
    padding: 3rem;
    margin-bottom: 3rem;

    & h2 {
      font-family: "Inter";
      font-weight: bold;
      font-size: calc(1rem + 0.5vw);
      margin-bottom: 0;
    }
    
    & a {
      color: #457b9d;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width:800px){
  .privacy-section-title {
    margin-top: 2rem;
  }
}

