.library {
    
    &-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        &-li {
            height: 100px;
            font-family: 'Inter';
        }
    }

    &-select {
        margin-top: 1rem;
        width: 100%;
    }
}