
// Couleurs
$base-color: #EFEFED;
$primary-color: #F4F4F6;
$secondary-color: #C6AD8E;
$hover-color: #695947;
$marron-color: #5F513F;
$police-color: #010100;
$red-color: #B72F2F;
$darkred-color: #8a1c1c;
$marronlight-color: #968164;