@use '../../../styles/variables' as v;
@use '../../../styles/hiddenBackground';

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Inter';

    & .star-rating {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        }
        
    & .stars {
        display: flex;
        gap: 0.3rem;
        cursor: pointer;
        font-size: 2.5rem;
        user-select: none;
        
        }
        
    & .star {
        color: #ccc;
        transition: color 0.2s ease;
        background: none;

        &:hover {
            transform: scale(1.1);
        }
    }
    
    & .filled {
        color: #f5c518;
    }

    & label {
        margin-bottom: 3%;
    }

    & textarea {
        height: 80%;
        width: 100%;
        padding: 2%;
        border-radius: 8px;
        font-family: 'Inter';
    }

    & button {
        all: unset;
        background-color: v.$marronlight-color;
        width: 20%;
        height: 15%;
        margin-top: 2%;
        border-radius: 8px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}
