@use '../../styles/variables' as v;
@use '../../styles/section';

.contact-section {
    background-color: v.$primary-color;
    text-align: center;
    display: flex;
  
  &-container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow-x: auto;

    & h1 {
      margin-bottom: 4vh;
    }
    
    & a {
      margin: 1rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}