@use '../../styles/variables' as v;
@use '../../styles/section';


//-------------Update Infos --------------------------
.profile-infos,
.profile-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.6s ease forwards;

    @keyframes fadeInUp {
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }

    & label {
        width: 100%;
        margin: 5% 0 0 0;
    }

    & input {
        width: 100%;
        margin: 0.3vh 0 0 0;
        padding: 8px;
        border-radius: 4px;
        border: solid 2px v.$secondary-color;
        background-color: white; 
        font-size: 0.9rem;
    }

}

.user-button {
    all: unset;
    background-color: v.$secondary-color; 
    text-align: center;
    color: v.$base-color;
    margin: 3vh auto 5vh auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    padding: 15px 40px; 
    cursor: pointer;

    &:hover {
        background-color: v.$marronlight-color;
    }
}

.delete-button {
    background-color: v.$red-color;
    color: v.$base-color;
    max-width: 230px;
    margin: 1vh auto 5vh auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: v.$darkred-color
    }
}

//----------------------------------------------------


.user-profile {
    background-color: v.$base-color;
    padding: 0;
    
    &-container {
        background-color: v.$primary-color;
        flex:1;
        display: flex;
        flex-wrap: wrap;
        font-family: "Inter";
        max-width: 1500px;
        margin: 2rem auto;
        padding: 5%;
        justify-content: center;
        align-items: flex-start;
        gap: 5vw;
    
        &-datas {
            min-width: 250px;
            max-width: 480px;
            width: 50vh;
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: bold;
                font-size: calc(1.3rem + 0.5vw);
                text-align: center;
                margin-bottom: 4.5vh;
                color: v.$marron-color
            }  
        }
            
            



 // ---------------------------- WIP -------------------------------           
            
            
    
    & #user-libraries-section {  
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        max-width: 800px;

        & #user-libraries-section-title {
            text-align: center;
            font-weight: bold;
            font-size: calc(1.3rem + 0.5vw);
            margin-bottom: 4.5vh;
            color: v.$marron-color
        }

        & #libraries-list {

            display: flex;
            margin: 0 auto;
            gap: calc(3vh + 1vw);
            flex-wrap: wrap;
            padding-left: 0px;
            justify-content: center;

        & .animated-library {
            opacity: 0;
            transform: translateX(-20px);
            animation: fadeInUp 0.4s ease forwards;
        }
          
          @keyframes fadeInUp {
            to {
              opacity: 1;
              transform: translateY(0);
            }
        }
            

            & li{
                width: 150px;

                & .library-name {
                    margin-top: 12%;
                    height: 50px;
                    font-size: 1.3rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.2rem;
                    line-clamp: 1.2rem;
                    max-height: calc(1.2rem * 2 + 0.1rem); 
                }

                & .library-rename-input {
                    font-size: 0.9rem;
                    border-radius: 5px;
                    margin-top: 1rem;
                    padding: 1rem;
                    width: 100%;
                    height: 1.5rem;                    
                    border: solid 1px v.$primary-color;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
                    opacity: 0;
                    transform: translateY(-5px);
                    animation: fadeInUp 0.6s ease forwards;
                  
                  
                  @keyframes fadeInUp {
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
                


                & .library-update {
                    all: unset;
                    width: 100%;
                    background-color: v.$secondary-color; 
                    text-align: center;
                    color: v.$base-color;
                    margin: 2vh 0 1.5vh 0; 
                    padding: 8px 0; 
                    border-radius: 8px;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.03);
                    }
                }

                & .library-rename {
                    all: unset;
                    width: 100%;
                    background-color: #4abb53; 
                    text-align: center;
                    color: v.$base-color;
                    margin: 1vh 0 1.5vh 0; 
                    padding: 8px 0;
                    border-radius: 8px;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;

                        &:hover {
                            transform: scale(1.03);
                        }
                }
    
                & .library-delete {
                    all: unset;
                    width: 100%;
                    background-color: v.$red-color;
                    padding: 8px 0; 
                    text-align: center;
                    color: v.$base-color;
                    border-radius: 8px;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;

                        &:hover {
                            transform: scale(1.03);
                        }
                }
            }

            & a {
                text-decoration: none;
            }

            & figure {
 

                & .book-img {

                    width: 150px;
                    height: 220px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    
                    & img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                        display: block;
                    }
                }

                & .no-book-img {
                    display: flex;
                    flex-direction: column;
                    background-color: v.$base-color;
                    border-radius: 8px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5%;

                    & .addbook-box-btn {
                        font-size: 1rem;
                        color: v.$secondary-color;
                        background-color:v.$primary-color;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                        font-weight: 300;
                        margin: 0.5rem 0 0 0;
                        padding: 0.5rem 1.5rem;
                        border-radius: 8px;
                        width: 100%;
                    }
            
                    em {
                        font-style: normal;
                        font-size: 1.2rem;
                    }

                    & p {
                        text-align: center;
                        font-size: 1rem;
                        text-decoration: none;
                        background-color: v.$primary-color;
                        color: v.$secondary-color;
                        border-radius: 8px;
                        padding: 1.5rem 0rem;
                        margin: 0;
                    }
                }
                
                & figcaption {
                    font-size: calc(1rem + 0.5vw);
                    color: v.$police-color;
                    font-family: "Inter";
                    text-align: center;
                }
            }            
        }        
    }
    
    & .user-reviews-section {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-title {
            text-align: center;
            font-weight: bold;
            font-size: calc(1.3rem + 0.5vw);
            margin-bottom: 4.5vh;
            color: v.$marron-color;
        }
        
        &-reviews-container {

            width: 70%;

            & ul {
                padding: 0;
            }

            &-review-container {

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 8%;
                flex-wrap: wrap;

                &-book-img {

                    width: 150px;
                    min-width: 150px;
                    height: 220px;
                    min-height: 220px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    margin-right: 2rem;


                    & img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                        display: block;
                        transition: transform 0.5s ease-in-out;


                        &:hover {
                            transform: scale(1.05);
                        }

                    }
                }

                &-text-container {
                    padding: 1rem 0rem 1rem 1.5rem;
                    background-color: v.$base-color;
                    border-radius: 8px;
                    width: calc(100% - 200px);
                    box-sizing: border-box;
                    min-width: 300px;

                    & .author {
                        margin-top: -0.8rem;
                        font-weight: 400;
                        font-size: 0.85rem;
                    }

                    & .note {
                        display: flex;
                        margin-top: 1rem;
                        
                        &-text {
                            margin-right: 0.5rem;
                        }
                    }
                
                    & .star {
                        font-size: 1.5rem;
                        color: #f5c518;
                        margin-left: 0.3rem;
                    }

                    & .review-meta {
                        margin-top: 1.5rem;
                        font-size: 0.9rem;
                    }
        
                

                    & .reviews-delete-button {
                        all: unset;
                        background-color: v.$red-color;
                        border-radius: 8px;
                        padding: 5px;
                        transition: transform 0.3s ease-in-out;
        
                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                        }
        
                        & img {
                            height: 20px;
                            width: 20px;
                        }
                    }

                }

            }

        }
    }
}
}

.fade {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  
    &.fade-out {
      opacity: 0;
    }
  }
