@use '../../styles/variables' as v;
@use '../../styles/section';

.user-profile {
    background-color: v.$base-color;
    padding: 0;
    
    &-container {
        background-color: v.$primary-color;
        flex:1;
        display: flex;
        flex-wrap: wrap;
        font-family: "Inter";
        max-width: 1500px;
        margin: 2rem auto;
        padding: 5%;
        justify-content: center;
        align-items: flex-start;
        gap: 5vw;
    
        &-datas {
            min-width: 250px;
            max-width: 480px;
            width: 50vh;
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: bold;
                font-size: calc(1.3rem + 0.5vw);
                text-align: center;
                margin-bottom: 4.5vh;
                color: v.$marron-color
            }  
        }
    }
}    
            
.fade {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  
    &.fade-out {
      opacity: 0;
    }
  }
