@use './styles/_reset';
@use './styles/variables' as v;

.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Toastify {
    padding: 0;
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: rgb(91, 175, 91)
}

.Toastify__toast--success .Toastify__progress-bar {
  background: rgb(91, 175, 91)
}